$p:#2d8cf0;
$lp:#5cadff;
$dp:#2b85e4;
$info:#2db7f5;
$success:#19be6b;
$warning:#ff9900;
$error:#ed4014;
$title:#17233d;
$content:#515a6e;
$sub:#808695;
$disabled:#c5c8ce;
$border:#dcdee2;
$divider:#e8eaec;
$bg:#f8f8f9;
@mixin container {
    width: 100%;
    height: 100%;
    border: 1px solid $border;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
@mixin router-transition {
    width: 100%;
    height: 100%;
    background: #fff;
    .router-transition-enter-active, .router-transition-leave-active {
        transition: opacity .3s;
        margin-bottom: 10px;
    }
    .router-transition-enter, .router-transition-leave-to {
        opacity: 0;
    }
}